// -----------------------------------------------------------------------------
// This file contains styles that are specific to the index page.
// -----------------------------------------------------------------------------

h1 {

    color:$text-color;
    
}