// -----------------------------------------------------------------------------
// This file contains styles that are specific to the index page.
// -----------------------------------------------------------------------------

.errmsg{
  color:red;
}

#graph_container{
  width: 100%;
  height: auto;
  min-width: 300px;
  min-height: 300px;
  //position: absolute;
 // background-color:red;
}


.graph_back {
  fill: transparent;
  shape-rendering: crispEdges;
}



.axis path,
  .axis line{
    fill: none;
    stroke: black;
  }




  .tick line{
    opacity: 0.2;
  }

.dot {
  stroke: #000;
}

#datasets{

  width:100%;


}

$padding: 0%;

#data_sets_table{
  table-layout:fixed;
  width:100%;

  tbody{
        height: 100px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
  }

  th{
    text-align:center;
    height:30px;
    border-bottom:1px solid black;
    background:#E5E5E3;
    padding-left:$padding;
  }

  td{
    text-align:center;
    height:40px;
    padding-left:$padding;

    .options_container{
     // text-align:right !important;
      //float:right;

    }

  }


}

.options_buttons{
  width:100%;
}



.table-editable {
  position: relative;

    max-height: 540px;
    overflow: scroll;
  
  .glyphicon {
    font-size: 20px;
  }
}

.table-remove {
  color: #700;
  cursor: pointer;
  
  &:hover {
    color: #f00;
  }
}

.valid{
  background-color: #00C723 !important;
  color:#FFFFFF;
}

.invalid{
  background-color:  #C7481A !important;
  color:#FFFFFF;

}

.table{
      width: 100%;
    //table-layout: fixed;

    max-height:200px;
    overflow:hidden;



  tr:nth-child(n) {
    background-color:#C7C7C7;

  }
   tr:nth-child(1) {
    background-color:#ffffff;

  }

  tr{
    td{
      border:1px #ffffff solid;
      overflow:scroll;
      width:50%;
    }

    td:nth-child(3){
      background:#ffffff;
      border:0px;
    }

  }

  th:nth-child(3){
    border-bottom:none;
  }

  th{
    text-align:center;
  }

}


.table-add {
  color: #070;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 0;
  
  &:hover {
    color: #0b0;
  }
}


#export-btn{
  float:left;
}


.modal_data_name_container{
  text-align:center;
  margin-bottom:10px;
  input{
    width:30%;
    padding:10px;

  }
}

.input_invalid{
  border:2px red solid !important;
}

.input_valid{
    -webkit-appearance: textfield;
    background-color: white;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
}

.error_span{
  width:100%;
  height:52px !important;
  overflow:scroll;
  text-align:center;
  height:30px;
  padding-top:5px;
  color: #C7481A;
}



.add_data_button_container{
  width:200px;
  height:200px;
  margin:0 auto;
    margin-top:10px;

  text-align:center;
}

.scale_buttons{
  width:100%;
  text-align:center;
  margin-bottom:20px;
}

.graph_header_container{
  width:100%;
  text-align:center;

  span{

      font-size:30px;
      font-weight:bold;
          position: relative;
    top: 50px;

  }
}

.tooltip{
  background-color:#318AC7;
  padding:10px;
  color:#fff;
  -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}


.options_menu{

  li{
    a.duplicate_button{

      span{color:#f0ad4e;
}
    }

    a.edit_button{
      
      span{color: #31b0d5;}

    }

    a.delete_button{
      
      span{color: #d9534f;}

    }
  }

}


